<%= render 'books/list', {book: @book, user: @user} %><!--部分テンプレ-->


<h2>Books</h2>

<% @books.each do |book| %>
<table>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>ﾕｰｻﾞｰ画像</td>
          <td><%= link_to book.title, book_path(book.id) %></td><!--bookの詳細ﾍﾟｰｼﾞへ-->
          <td><%= book.body %></td>
        </tr>
      </tbody>
    </table>
<% end %>