<%= render 'list', books: @book %>

<!--投稿の一覧-->
<h2>Books一覧</h2>

  <% @books.each do |book| %>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>ﾕｰｻﾞｰ画像</td>
          <td>
            <p><%= book.title %>
            </p>
          </td>
          <td><%= book.body %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
